## Python绘制电商网站转化漏斗图

漏斗图：适用于业务流程环节多的流程分析，通过漏斗各环节业务数据的比较，能够直观地发现问题所在。

实例：数据来自kaggle网站的"E-commerce website Funnel analysis"  
地址为：https://www.kaggle.com/aerodinamicc/ecommerce-website-funnel-analysis

网站很简单，有四个页面数据：
1. home_page_table.csv，首页用户访问数据
2. search_page_table.csv，搜索页用户访问数据
3. payment_page_table.csv，支付信息页用户访问数据
4. payment_confirmation_table.csv，支付成功页用户访问数据
5. user_table.csv，用户信息数据

目标：绘制转化漏斗，查看是否正常

### 1. 读取数据

In [1]:
import pandas as pd

#### 读取5个数据表到df

In [2]:
df_home_page = pd.read_csv("./datas/ecommerce-website-funnel-analysis/home_page_table.csv")
df_search_page = pd.read_csv("./datas/ecommerce-website-funnel-analysis/search_page_table.csv")
df_payment_page = pd.read_csv("./datas/ecommerce-website-funnel-analysis/payment_page_table.csv")
df_payment_confirmation_page = pd.read_csv("./datas/ecommerce-website-funnel-analysis/payment_confirmation_table.csv")
df_user_table = pd.read_csv("./datas/ecommerce-website-funnel-analysis/user_table.csv")

#### 查看首页数据

In [3]:
df_home_page.head(3)

   user_id       page
0   313593  home_page
1   468315  home_page
2   264005  home_page

#### 查看搜索页数据

In [5]:
df_search_page.head(3)

   user_id         page
0    15866  search_page
1   347058  search_page
2   577020  search_page

#### 查看支付信息页数据

In [6]:
df_payment_page.head(3)

   user_id          page
0   253019  payment_page
1   310478  payment_page
2   304081  payment_page

#### 查看支付成功页数据

In [7]:
df_payment_confirmation_page.head(3)

   user_id                       page
0   123100  payment_confirmation_page
1   704999  payment_confirmation_page
2   407188  payment_confirmation_page

#### 查看用户信息表

In [8]:
df_user_table.head(3)

   user_id        date   device     sex
0   450007  2015-02-28  Desktop  Female
1   756838  2015-01-13  Desktop    Male
2   568983  2015-04-09  Desktop    Male

#### 查看设备的类型

In [9]:
df_user_table["device"].value_counts()

Desktop    60200
Mobile     30200
Name: device, dtype: int64

#### 查看性别的类型

In [10]:
df_user_table["sex"].value_counts()

Male      45325
Female    45075
Name: sex, dtype: int64

### 2. 关联5个数据表为一个大表

In [11]:
df_merge = df_user_table

for df_inter in [df_home_page, df_search_page, df_payment_page, df_payment_confirmation_page]:
    # 每次循环都会忘df_merge中添加新列
    df_merge = pd.merge(
        left=df_merge, 
        right=df_inter, 
        left_on="user_id", 
        right_on="user_id", 
        how="left"
    )

In [12]:
df_merge

,user_id,date,device,sex,page_x,page_y,page_x,page_y
0,450007,2015-02-28,Desktop,Female,home_page,NaN,NaN,NaN
1,756838,2015-01-13,Desktop,Male,home_page,NaN,NaN,NaN
2,568983,2015-04-09,Desktop,Male,home_page,search_page,NaN,NaN
3,190794,2015-02-18,Desktop,Female,home_page,search_page,NaN,NaN
4,537909,2015-01-15,Desktop,Male,home_page,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
90395,307667,2015-03-30,Desktop,Female,home_page,NaN,NaN,NaN
90396,642989,2015-02-08,Desktop,Female,home_page,search_page,NaN,NaN
90397,659645,2015-04-13,Desktop,Male,home_page,search_page,NaN,NaN
90398,359779,2015-03-23,Desktop,Male,home_page,NaN,NaN,NaN
90399,438929,2015-03-26,Mobile,Female,home_page,NaN,NaN,NaN

In [13]:
df_merge.columns = [
    "user_id", "date", "device", "sex", 
    "home_page", "search_page", "payment_page", "confirmation_page"]
df_merge

,user_id,date,device,sex,home_page,search_page,payment_page,confirmation_page
0,450007,2015-02-28,Desktop,Female,home_page,NaN,NaN,NaN
1,756838,2015-01-13,Desktop,Male,home_page,NaN,NaN,NaN
2,568983,2015-04-09,Desktop,Male,home_page,search_page,NaN,NaN
3,190794,2015-02-18,Desktop,Female,home_page,search_page,NaN,NaN
4,537909,2015-01-15,Desktop,Male,home_page,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
90395,307667,2015-03-30,Desktop,Female,home_page,NaN,NaN,NaN
90396,642989,2015-02-08,Desktop,Female,home_page,search_page,NaN,NaN
90397,659645,2015-04-13,Desktop,Male,home_page,search_page,NaN,NaN
90398,359779,2015-03-23,Desktop,Male,home_page,NaN,NaN,NaN
90399,438929,2015-03-26,Mobile,Female,home_page,NaN,NaN,NaN

In [14]:
df_merge.shape

(90400, 8)

### 3. 计算每个页面的用户数目

目的是给漏斗图填充数据，pyecharts需要的格式为：数据格式为[(key1, value1), (key2, value2)]

In [15]:
datas = []
for column in ["home_page", "search_page", "payment_page", "confirmation_page"]:
    user_count = df_merge[column].dropna().size
    datas.append((column, user_count))
print(datas)

[('home_page', 90400), ('search_page', 45200), ('payment_page', 6030), ('confirmation_page', 452)]

In [16]:
# 方便查看对比，进行归一化
max_count = datas[0][1]
datas_norm = [
              (x, round(y*100/max_count, 2)) 
              for x,y in datas
             ]
datas_norm

[('home_page', 100.0),
 ('search_page', 50.0),
 ('payment_page', 6.67),
 ('confirmation_page', 0.5)]

### 4. 绘制漏斗图

In [17]:
from pyecharts import options as opts
from pyecharts.charts import Funnel

In [18]:
funnel = Funnel()
funnel.add("用户比例", datas_norm)

In [19]:
funnel.render_notebook()